#calculator {
  background-color: black;
  padding: 4px;
  border-radius: 9px;
  padding: 10px;
}

#display {
  background-color: whitesmoke;
  border-radius: 6px;
  min-height: 200px;
  margin-bottom: 16px;
}

#buttons {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4,1fr);
  min-height: 400px;
  gap: 5px;
}

#buttons button {
  background-color: grey;
  border:0;
  border-radius: 6px;
  margin: 0px;
  padding: 0 ;

  color: white;
  font-size: 32px;

}

#buttons .operator {
  background-color: orange;
  color: black;
}